!!!
-# see helper methods in app/helpers/application_helper.rb
%html(lang="en")
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %link{ rel: 'canonical', href: canonical }
    %title
      = title
    %meta{ content: meta_description, name: 'description' }
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    .off-canvas-wrap{ :'data-offcanvas' => true }
      .inner-wrap
        %nav.tab-bar.hide-for-medium-up
          .row
            %section.left-small
              %a.left-off-canvas-toggle.menu-icon{ href: '#' }
                %span
            %section.middle.tab-bar-section
              %h2.title
                Inherent Knowledge
        %nav.left-off-canvas-menu.hide-for-medium-up
          %ul.off-canvas-list
            %li
              %label
                Inherent Knowledge
            %li
              %a{href: root_path }
                Home
            %li
              %a{href: '#' }
                Get a Quote
            %li
              %a{href: '#' }
                Pricing
            %li
              %a{href: '#' }
                Blog
            %li
              %a{href: '#' }
                Services
            %li
              %a{href: '#' }
                Portfolio
        %section.main-section
        = yield
        .row
          %footer
            .inh_kn_copy
              = APP_CONFIG['copyright_notice']
            .company-info{ itemscope: true, itemtype: "http://schema.org/Organization" }
              .location-info
                %span.company{ itemprop: "name"}
                  = company
                %br
                %span.street{ itemprop: "streetAddress"}
                  = APP_CONFIG['contact_address']
                %span.suite
                  = APP_CONFIG['contact_suite']
                %br
                %span.city{ itemprop: "addressLocality"}
                  = APP_CONFIG['contact_city']
                %span.state{ itemprop: "addressRegion"}
                  = APP_CONFIG['contact_state']
                %span.postal
                  = APP_CONFIG['contact_postal']
              .phone-info{ itemprop: "telephone"}
                = APP_CONFIG['contact_phone']
              .email-info{ itemprop: "email"}
                %a{href: "mailto:#{APP_CONFIG['contact_email_sales']} " }
                  = APP_CONFIG['contact_email_sales']
            .webmaster
              %a{href: "mailto:#{APP_CONFIG['contact_email_web']} " }
                = APP_CONFIG['contact_email_web']
            .publication
              Published:
              %time{ pubdate: true, datetime: "2014-10-14" }
                10/14/2014
        %a.exit-off-canvas
    = javascript_include_tag "application"
